* {
    margin: 0px;
    padding:0px;
}
p{  
    margin-top: 100px;
    text-align: center;
    margin-top:50;
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
    color: royalblue;
}

body {
    background-image: url('../img/sala.jpg');
}

.btnpag3 {
    text-align:center;
  }
#btn1 {
    color:royalblue;
}
